
:root { 
  --bg: #f5f6fa; 
  --white: #ffffff; 
  --purple: #5212bf; 
  --red: #ff5858; 
  --blue-dark: #0e172c; 
  --grey-ligth: #d6d6d6; 
  --grey-dark: #888888; 
  --black-content: #3E4555; 
  --h1: 700 1.625rem/2rem Inter; 
  --subtitle: 700 1.25rem/1.5rem Inter; 
  --body1-regular: 400 1rem/1.5rem Inter; 
  --body1-bold: 700 1rem/1.5rem Inter;    
}

body {
  font: var(--h1);
}

h1{
  color: var(--purple);
}

h2{
  color: var(--red);
}

p{
  color: var(--grey-dark);
}
